.rdw-editor-main {
    // background-color: $secondary-color;
    min-height: 300px;
    padding: 0 10px;
}
.rdw-editor-toolbar {
    padding-bottom: 0px;
    margin-bottom: 0;
    // background-color: $secondary-color;
    // border-color: $primary-color;
}
.rdw-dropdown-wrapper.rdw-block-dropdown {
    border: none;
}
.rdw-editor-wrapper {
    border: 1px solid;
    // border-color: $primary-color;
}

.rdw-option-wrapper {
    // background-color: $secondary-color;
    border: none;
    padding: 1px;
}

.rdw-dropdown-selectedtext {
    // background-color: $secondary-color;
    // border-color: $primary-color;
}
