@import './variable.scss';
@import './customEditor.scss';
h1 {
    color: $primary-color !important;
    margin-left: 50px;
}

.elementCustom {
    min-width: 500px;
    min-height: 500px;
    border: 2px black solid;
    color: red;
}

body {
    text-align: center;
    margin: auto;
    background-color: $background-color;
}

.document {
    &.container {
        background-color: whitesmoke;
        padding-bottom: 100px;
        padding-top: 20px;
        margin-top: 50px;
    }
    &.title {
        border: none;
        background-color: whitesmoke;
        border-bottom: 1px solid black;
        margin-bottom: 10px;
    }
}
