$background-color: #2c3531;
$primary-color: #106634;
$secondary-color: #caf1c6;

/* font color */
$dark-font-color: #000;
$ligth-font-color: #3eab7a;
$ligth-secondary-font-color: #caf1c6;
$grey-font-color: #252c24;

/* other */
$navbar-width: 12rem;
$small-navbar-width: 6rem;
